[user]

	email = david.dutkovsky@gmail.com
	name = David Dutkovsky
[alias]
	co = checkout
	c = commit
  	st = status
  	br = branch
  	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  	type = cat-file -t
  	dump = cat-file -p
	lo = log --oneline
	lon = "log --oneline -n"
	df = diff
	dfc = diff --cached
	s = show

[push]
	default = current
[core]
	eol = lf
	autocrlf = input
[merge]
	ff = only
[difftool "sourcetree"]
	cmd = 'C:/david/programs/KDiff3/kdiff3.exe' \"$LOCAL\" \"$REMOTE\"
